body {
    background-image: url("../images/congruent_pentagon.png");
}

header {
    font-family: 'Kumar One Outline', cursive;
    color: #b8538f;
    background-color: #f6ffe7;
    text-align: center;
    padding: 25px 20px 20px 20px;
    margin-bottom: 20px;
    border-bottom: 5px solid #c9fcdc;
}

main {
    background-color: white;
    font-family: 'Poiret One', cursive;
    font-size: 24px;
    width: 1100px;
    height: 650px;
    border: 3px solid #c9fcdc;
    margin: auto;
    overflow: auto;
}

h1 {
    font-size: 65px;
}

h2 {
    float: left;
    font-size: 40px;
}

h3 {
    float: right;
    font-size: 35px;
    margin-left: 20px;
}

h4 {
    font-size: 32px;
}

img {
    height: 140px;
    opacity: .7;
}

#status-bar {
    margin: 15px 15px 45px;
    padding: 20px;
    font-family: 'Uncial Antiqua', cursive;
    color: #b8538f;
    text-align: center;
    background-color: #fbfff5;
    border: 1px solid #c9fcdc;
    overflow: auto;
    clear: both;
}

#left-panel {
    float: left;
    width: 735px;
}

#crystals {
    clear: left;
    text-align: center;
    margin: 0px 25px 45px;
}

#current-score {
    margin: 15px 15px 25px;
    padding: 20px;
    font-family: 'Uncial Antiqua', cursive;
    color: #b8538f;
    text-align: center;
    background-color: #fbfff5;
    border: 1px solid #c9fcdc;
    overflow: auto;
    clear: both;
}

aside {
    float: right;
    width: 285px;
    margin: 15px;
    padding: 15px;
    background-color: #fbfff5;
    border: 1px solid #c9fcdc;
    color: #570f3a;
    overflow: auto;
}

p {
    margin-bottom: 10px;
}

br {
    color: #570f3a;
}

#target, #win-count, #loss-count, #score {
    font-family: 'Metamorphous', cursive;
    font-size: 50px;
}

